<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>iPeople Frontend</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="js/iPeople.js"></script>
	<link rel="stylesheet" type="text/css" href="css/iPeople.css">
</head>

<body onload="GetOnLoadStuff()">
	<div id="InputMask" class="generalIPeople">
		<div class="IPeopleHeader">iPeople 1.0</div>
		<table class="InputMask">
			<tr>
				<td>Vorname</td>
				<td><input type="text" id="vn_input"></td>
			</tr>
			<tr>
				<td>Nachname</td>
				<td><input type="text" id="nn_input"></td>
			</tr>
			<tr>
				<td>KIM</td>
				<td><input id="kim_input" readonly style="display:none"><button id="KimGenBtn">KIM generieren</button></td>
			</tr>
			<tr>
				<td>JSON</td>
				<td><input id="json_input"></td>
			</tr>
		</table>
		<button class="IPeopleElementWithMargin" id="SaveBtn">Speichern</button>
		<button class="IPeopleElementWithMargin" id="SaveBtn_new">Speichern_new</button>
		<!-- onclick="httpGetAsync('http://localhost:8080/KIM/123')"-->
	</div>
</body>

</html>